
VITE_SUPABASE_URL=https://zbuvpbmpbczrdgerdrae.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpidXZwYm1wYmN6cmRnZXJkcmFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MzQxNTAsImV4cCI6MjA5MDMxMDE1MH0.25HXlz3J5ze6GeZDuJ67bc1HPU6S83hW7uUhNf6kMIw
